
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <div class="content-404">
        <h1><b></b>Bạn đã đăt hàng thành công.</h1>
        <p>Chúng tôi sẽ liên lạc đến ban trong thời gian sớm nhất.</p>
        <h2>Cảm ơn bạn đã tin tưởng và sửa dụng sản phẩm.</h2>
    </div>
</div>

