@model Msys.WebApp.Models.ContactModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container clearfix">
    <div id="contact-page" class="container">
        <div class="bg">

            @using (Html.BeginRouteForm("ContactIndex", FormMethod.Post, new { id = "contact" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-8">
                        <div class="contact-form">
                            <h2 class="title text-center">Liên lạc</h2>
                            <div class="status alert alert-success" style="display: none"></div>
                            <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.name, new { @class = "form-control", placeholder = "Tên", required = "required" })
                                    @*<input type="text" name="name" class="form-control" required="required" placeholder="Tên">*@
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextBoxFor(model => model.name, new { @class = "form-control", placeholder = "Email", type = "email", required = "required" })
                                    @*<input type="email" name="email" class="form-control" required="required" placeholder="Email">*@
                                </div>
                                @*<div class="form-group col-md-12">
                                <input type="text" name="subject" class="form-control" required="required" placeholder="Chủ đề">
                            </div>*@
                                <div class="form-group col-md-12">
                                    @Html.TextAreaFor(model => model.data, new { @class = "form-control", placeholder = "Nội dung liên lạc", required = "required", rows = "8" })
                                    @*<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Nội dung liên lạc"></textarea>*@
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="submit" name="submit" class="btn btn-primary pull-right" value="Gửi" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-info">
                            <h2 class="title text-center">Thông tin liên hệ</h2>
                            <address>
                                <p>BooksStore Inc.</p>
                                <p>TP. Hồ Chí Minh</p>
                                <p>Điện thoại: (+84)1234667</p>
                                <p>Fax: 1-714-252-0026</p>
                                <p>Email: info@123.com</p>
                            </address>
                            @*<div class="social-networks">
                            <h2 class="title text-center">Social Networking</h2>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>*@
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-sm-12">
                    @*<h2 class="title text-center">Liên Hệ Chúng Tôi</h2>*@
                    <div id="gmap" class="contact-map">
                    </div>
                </div>
            </div>
        </div>
    </div><!--/#contact-page-->
</div>