@model Home.HomeModel.HomeInfoModel
@using MSys.WebApp;


@{
    var productLst = Model.listFirstProductInfo;
}
<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Thông tin sản phẩm</h2>
    <div class="pagination-container-product clearfix"><br class="clear"></div>
</div><!--features_items-->