<footer id="page-footer">
    <div class="container">
        <p class="copy-right pull-left"> Copyright 2023 - <span>Cảnh - Trang</span>.  All Rights Reserved</p>
        <ul class="pull-right list-inline">
            <li><a href="#" class="icon-facebook"></a></li>
            <li><a href="#" class="icon-flickr"></a></li>
            <li><a href="#" class="icon-vimeo"></a></li>
            <li><a href="#" class="icon-dribbble"></a></li>
            <li><a href="#" class="icon-twitter"></a></li>
        </ul>

    </div>
</footer>