@using MSys.WebApp

<div class="top-header">
    <div class="container">
        <div id="logo">
            @*<a href="index.html"><img src="~/Content/images/logo.png" alt="logo" style="width: 120px; height: 60px" /></a>*@
        </div>
        <nav class="pull-right">
            @MenuHelper.Menu()
        </nav>
        <div class="clearfix"></div>
    </div>
    <!-- container -->
</div>

