
<div class="bottom-header">
    <div class="container">
        <div class="top-news pull-left" style="width:100px;">
            <span>Tìm kiếm</span>
            
        </div>
        <!-- top news -->
        <div class="search-box pull-left">
            <div class="form-group">
                <input type="text" name="searchText" class="form-control post_search_text m-b" onblur="if (this.value == '')
            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
            this.value = '';" value="Tìm kiếm" />
            </div>
            <button type="submit" title="Tìm kiếm"><span class="icon-search post_search_submit m-b"></span></button>
        </div>
    <!-- container -->
</div>



